<div id="border">  
  <div id="title"> 
    <h1>About Me</h1>
    <h1>Interests</h1>
    <h1>Contact</h1>
  </div>

  <div id="intro">
    <img src="assets/Av2.svg">
    <h2 id="mark">Mark Romig</h2>
    <h2>Software Engineer Graduate</h2>
    <h2>Swinburne University of Technology</h2>
  </div>

  <div id="aboutMe">
    <h2 id="about">About Me</h2>
    <p></p>
  </div>

  <div id="interests">
    <h2 id="interest">Interests</h2>
    <p></p>
  </div>

  <div id="work">
    <h2 id="work1">Some Work I've Done</h2>
    <p></p>
  </div>

  <div id="contact">
    <h2 id="contact1">Contact Me</h2>
    <input type="text" placeholder="Name" id="text1">
    <input type="email" placeholder="Email" id="text1">
    <input type="text" placeholder="Please write your message. . ." id="text2">
      <div id="buttondiv">
      <input type="button" value="Send" id="button">
      </div>
  </div>

  <div id="copyright">
    <p>Copyright © Mark Romig 2021</p>
  </div>
</div>